
.secIphones {
    background-color: #000000;
    color: rgb(0, 0, 0);
    display: grid;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: auto;
    row-gap: 1.5rem;
}

.img {
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    transition-duration: 700ms;
}

.img:hover {
    background-color: #000000;
    box-shadow: 0 0 10px #fd9c4c;
}

.container {
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
    transition-duration: 700ms;
    background-color: #121212;
    transition-duration: 700ms;
    background-color: #000000;
    margin: auto;
}

.container:hover {
    border-radius: 4%;
    background-color: #FD8902;
}

.subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.title {
    transition: none;
    box-shadow: none;
    text-decoration: none;
    color: #ffffff;
}

.agregarBtn {
    background-color: #898989;
    border-color: #000000;
    color: #000000;
}

.agregarBtn:hover {
    transition-duration: 700ms;
    background-color: #ECDFCC;
    box-shadow: 0 0 10px #fcfcfc;
}