.containerCards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    gap: 20px;
    margin-top: 140px;
    padding-left: 85px;
}

.card {
    width: 220px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
    background: #1b1b1b;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
}

.card:hover {
    transform: translateY(-9px);
    transition-duration: 0.8s;
}

.cardImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
        border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    transition-duration: 700ms;
}

.cardImg:hover {
    background-color: #000000;
    box-shadow: 0 0 10px #fd9c4c;
}

.cardBody {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
}

.cardTitle {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: aliceblue;
}

.cardText {
    margin-bottom: 12px;
    color: #eeeeee;
}

.cardButton {
    color: rgb(252, 252, 252);
    background-color: #ff9800;
    border: none;
    padding: 7px 12px;
    border-radius: 4px;
}

.cardButton:hover {
    transition-duration: 300ms;
    background-color: #495050;
    box-shadow: 0 0 10px #000000;
}
.swal-description {
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
}

a {
    color: rgb(252, 252, 252);
    background-color: #ff9800;
    border: none;
    padding: 2px 2px;
    border-radius: 4px;
    text-align: center;
}